<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Каталог</title>
    <link rel="stylesheet" href="./css/style.css"> </head>

<body>
    <header>
        <ol>
            <li><a href="/">Главная</a> </li>
            <li><a href="/catalog/">Каталог</a> </li>
            <li><a href="/contacts/" target="_blank">Контакты</a></li>
        </ol>
        <hr>
        <h1>Каталог</h1>
        <h2>Самый лучший телевизор в мире!</h2> <img src="https://retrotexnika.ru/img/televizori/zenit_tv.jpg" alt="Фото телевизора">
        <p>Зенит - ламповый черно-белый телевизор. Выпуск с 1953 г. </p>
        <h2>Характеристики товара </h2>
        <table>
            <tr>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
            </tr>
            <tr>
                <td>test</td>
                <td>test</td>
            </tr>
        </table>
        <ul>
            <li>Формат изображения - 180x240 мм; </li>
            <li>Чувствительность - не хуже 600 мкВ;</li>
            <li>Входное сопротивление - 75 ОМ; </li>
            <li>Потребляемая мощность - 190 Вт.</li>
            <li>Размеры: 645х470х455 мм;</li>
            <li>Вес: 30 кг.</p>
            </li>
        </ul>
        <h2>Подробное описание товара</h2>
        <p>По своей схеме и конструкции почти ни чем не отличается от телевизора "Север".
            <br> В телевизоре 17 ламп.
            <br> Радиоканалы собраны по супергетеродинной схеме с раздельным усилением по промежуточной частоте сигналов изображения и звукового сопровождения.
            <br> В модели применен кинескоп 31ЛК2Б.
            <br> Рассчитан на прием трех телевизионных каналов и частотно модулированных станций в УКВ диапазоне.
            <br> </p>
        <hr>
        <footer>&copy; Все права защищены!</footer>
</body>

</html>
