<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Контакты</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <ol>
            <li><a href="/">Главная</a> </li>
            <li><a href="/catalog/">Каталог</a> </li>
            <li><a href="/contacts/" target="_blank">Контакты</a></li>
        </ol>
        <hr>
        <h1>Контакты</h1>
        <h3>Напишите нам!</h3>
        <form action="contacts.html">
            <fieldset>
                <legend>Контактная информация</legend>
                <input type="text" size="30" placeholder="Ваше Имя"> <br>
                <input type="text" size="30" placeholder="Email"> <br>
                <input type="text" size="30" placeholder="Тема"> <br>
                <textarea name="Введите текст" id="1" cols="24" rows="5"></textarea> <br>
                <input type="submit" value="Отправить"> </body>
</fieldset>
</form>

</html>
