<!DOCTYPE html>
<html>

<head>
    <meta charset="UTF-8">
    <title>Мой сайт</title>
    <link rel="stylesheet" href="./css/style.css">
</head>

<body>
    <header>
        <ol>
            <li><a href="/">Главная</a> </li>
            <li><a href="/catalog/" target="_blank">Каталог</a> </li>
            <li><a href="/contacts/" target="_blank">Контакты</a></li>
        </ol>
        <hr>
        <h1>Великолепный магазин одного товара</h1>
        <p>Добро пожаловать в Великолепный магазин одного товара! Рады вас видеть!</p>
        <hr>
        <footer> &copy; Все права защищены</footer>
    </header>
</body>

</html>
